<section class="about">
  <div class="container">
    <img class="about__img" src="#" alt="#" />

    <div class="about__wrapper">
      <h2 class="subtitle">
        We make
        <span class="subtitle__active">delicious</span>
      </h2>

      <p class="description">
        Only in 2021 we have made more than 100,000 orders for you, your loved ones, all of you, and
        in 2022 we are ready to destroy the market
      </p>

      <img class="about__video" src="#" alt="" />
    </div>
  </div>
</section>
