<section class="about">
  <div class="container">
    <div class="about__thumb">
      <img
        class="about__img"
        width="163"
        height="240"
        src="./images/about/about-1.png"
        alt="Starbucks premises"
      />

      <div class="about__label label">
        <img
          class="label__img"
          width="85"
          height="85"
          src="./images/label.png"
          alt="Green label in the shape of a star"
        />
      </div>
    </div>

    <div class="about__wrapper">
      <h2 class="about__subtitle subtitle">
        We make
        <span class="subtitle__active">delicious</span>
      </h2>

      <p class="about__description description">
        Only in 2021 we have made more than 100,000 orders for you, your loved ones, all of you, and
        in 2022 we are ready to destroy the market
      </p>

      <div class="about__wrapper">
        <img
          class="about__video"
          src="./images/about/about-2.png"
          alt="Starbucks kitchen premises"
        />
        <button class="btn btn--active about__btn">Cooking Process</button>
      </div>
    </div>
  </div>
</section>
