<section class="benefits section">
  <h2 class="subtitle hidden">Our benefits</h2>

  <div class="container">
    <ul class="benefits__list">
      <li class="benefits__item">
        <div class="benefits__wrapper">
          <img
            class="benefits__img"
            width="86"
            height="108"
            src="./images/benefits/benefits-1.png"
            alt="#"
          />
        </div>

        <p class="benefits__title">Tasty</p>
        <p class="benefits__description">We have the most delicious coffee</p>
      </li>

      <li class="benefits__item">
        <div class="benefits__wrapper">
          <img
            class="benefits__img"
            width="122"
            height="118"
            src="./images/benefits/benefits-2.png"
            alt="#"
          />
        </div>

        <p class="benefits__title">Fast</p>
        <p class="benefits__description">Our cafe will serve you quickly</p>
      </li>

      <li class="benefits__item">
        <div class="benefits__wrapper">
          <img
            class="benefits__img"
            width="124"
            height="90"
            src="./images/benefits/benefits-3.png"
            alt="#"
          />
        </div>

        <p class="benefits__title">Available</p>
        <p class="benefits__description">Cafe will serveat the most pleasant prices</p>
      </li>
    </ul>
  </div>
</section>
