<section class="contacts section">
  <div class="container">
    <div class="contacts__thumb">
      <img
        class="contacts__img"
        width="163"
        height="240"
        src="./images/about/about-1.png"
        alt="Starbucks premises"
      />

      <div class="contacts__label label">
        <img
          class="label__img"
          width="85"
          height="85"
          src="./images/label.png"
          alt="Green label in the shape of a star"
        />
      </div>
    </div>

    <div class="contacts__wrapper">
      <h2 class="contacts__subtitle subtitle">
        Our <br />
        <span class="subtitle__active">Contacts</span>
      </h2>

      <p class="contacts__description description">
        Have time to buy the most harmonious drinks in the new Starbucks coffee and don't forget
        about the discount!
      </p>

      <ul class="contacts__list">
        <li class="contacts__item">
          <a class="contacts__link" href="https://www.instagram.com/starbucks/" target="_blank">
            <svg class="contacts__icon">
              <use href="./images/icon-sprite.svg#icon-instagram"></use>
            </svg>

            @starbucks
          </a>
        </li>

        <li class="contacts__item">
          <a class="contacts__link" href="tel:+99999999999">
            <svg class="contacts__icon">
              <use href="./images/icon-sprite.svg#icon-phone"></use>
            </svg>

            +9-999-999-99-99
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
