<section class="events">
  <div class="container">
    <h2 class="subtitle">
      Our New
      <span class="subtitle__active">Events</span>
    </h2>

    <p class="description">
      Only in 2021 we have made more than 100,000 orders for you, your loved ones, all of you, and
      in 2022 we are ready to destro
    </p>

    <ul class="events__list">
      <li class="events__item">
        <h3 class="events__name">Two coffee for 1 price</h3>
        <button class="events__btn" type="button">More</button>
      </li>

      <li class="events__item">
        <h3 class="events__name">Kitchen tour</h3>
        <button class="events__btn" type="button">More</button>
      </li>

      <li class="events__item">
        <h3 class="events__name">Free coffee for 3 coffee</h3>
        <button class="events__btn" type="button">More</button>
      </li>

      <li class="events__item">
        <h3 class="events__name">Out Instagram</h3>
        <button class="events__btn" type="button">More</button>
      </li>

      <li class="events__item">
        <h3 class="events__name">Where are you Choose us?</h3>
        <button class="events__btn" type="button">More</button>
      </li>
    </ul>
  </div>
</section>
