<footer class="footer">
  <div class="container">
    <a class="logo" href="./">StarBucks</a>

    <ul class="footer__list">
      <li class="footer__item">
        Main
        <ul class="footer__sublist">
          <li class="footer__subitem">Buy</li>
          <li class="footer__subitem">More</li>
        </ul>
      </li>

      <li class="footer__item">
        We make
        <ul class="footer__sublist">
          <li class="footer__subitem">Process</li>
        </ul>
      </li>

      <li class="footer__item">
        Products
        <ul class="footer__sublist">
          <li class="footer__subitem">Cappuccino</li>
          <li class="footer__subitem">Fast</li>
          <li class="footer__subitem">Fast</li>
        </ul>
      </li>

      <li class="footer__item">
        Events
        <ul class="footer__sublist">
          <li class="footer__subitem">Drinks</li>
          <li class="footer__subitem">Eat</li>
        </ul>
      </li>

      <li class="footer__item">
        Contacts
        <ul class="footer__sublist">
          <li class="footer__subitem">Instagram</li>
          <li class="footer__subitem">Number</li>
        </ul>
      </li>
    </ul>
  </div>
</footer>
