<footer class="footer">
  <div class="footer__container container">
    <a class="footer__logo logo" href="./">StarBucks</a>

    <ul class="footer__sublist">
      <li class="footer__subitem">
        <a class="footer__link" href="">
          <svg class="footer__icon">
            <use href="./images/icon-sprite.svg#icon-phone"></use>
          </svg>
        </a>
      </li>
      <li class="footer__subitem">
        <a class="footer__link" href="">Number</a>
      </li>
    </ul>
    <p class="footer__copy">&copy; 2023</p>
  </div>
</footer>
