<header class="header">
  <div class="header__container container">
    <a class="logo" href="./">StarBucks</a>

    <div class="menu" aria-expanded="false" js-menu-btn>
      <div class="menu__btn"></div>
    </div>

    <nav class="nav" js-menu>
      <ul class="nav__list">
        <li class="nav__item nav__item--active">
          <a class="nav__link" href="#">Home</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Select</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Shop</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
