<section class="hero">
  <div class="hero__container container">
    <div class="hero__thumb">
      <img
        class="hero__img"
        width="256"
        height="344"
        src="./images/hero/hero-1.png"
        alt="Paper cup of coffee Starbucks"
      />

      <div class="hero__label label">
        <img
          class="label__img"
          width="100"
          height="100"
          src="./images/label.png"
          alt="Green label in the shape of a star"
        />
      </div>
    </div>

    <div class="hero__wrapper">
      <h1 class="hero__title title">
        New Cafe <br />
        by
        <span class="title__active">StarBucks</span>
      </h1>

      <p class="hero__description description">
        Have time to buy the most harmonious drinks in the new Starbucks coffee and don't forget
        about the discount!
      </p>

      <div class="btn__wrapper">
        <button class="btn btn--active" type="button">Select a coffee</button>
        <button class="btn" type="button">More</button>
      </div>

      <ul class="stats">
        <li class="stats__item">
          <p class="stats__score">9k<span class="stats__plus">+</span></p>
          <p class="stats__text">Premium Users</p>
        </li>

        <li class="stats__item">
          <p class="stats__score">2k<span class="stats__plus">+</span></p>
          <p class="stats__text">Happy Customer</p>
        </li>

        <li class="stats__item">
          <p class="stats__score">28<span class="stats__plus">+</span></p>
          <p class="stats__text">Awards Winning</p>
        </li>
      </ul>
    </div>
  </div>
</section>
