<section class="products section">
  <div class="container">
    <h2 class="subtitle">
      New Our
      <span class="subtitle__active">Products</span>
    </h2>

    <p class="description">
      Have time to buy the most harmonious drinks in the new Starbucks coffee and don't forget about
      the discount! Starbucks coffee and don't forget about the discount!
    </p>

    <div class="slider">
      <ul class="slider__list">
        <li class="slider__item">
          <img class="slider__img" src="#" alt="" />

          <div class="slider__wrapper">
            <p class="slider__name">Fast</p>
            <p class="slider__description">Our cafe will serve you quickly</p>

            <div class="slider__thumb">
              <p class="slider__price">7,45$</p>
              <p class="slider__size">330 ml</p>
            </div>

            <button class="slider__btn" type="button">Buy Product</button>
          </div>
        </li>

        <li class="slider__item">
          <img class="slider__img" src="#" alt="" />

          <div class="slider__wrapper">
            <p class="slider__name">Fast</p>
            <p class="slider__description">Our cafe will serve you quickly</p>

            <div class="slider__thumb">
              <p class="slider__price">7,45$</p>
              <p class="slider__size">330 ml</p>
            </div>

            <button class="slider__btn" type="button">Buy Product</button>
          </div>
        </li>

        <li class="slider__item">
          <img class="slider__img" src="#" alt="" />

          <div class="slider__wrapper">
            <p class="slider__name">Cappuccino</p>
            <p class="slider__description">Our cafe will serve you quickly</p>

            <div class="slider__thumb">
              <p class="slider__price">7,45$</p>
              <p class="slider__size">330 ml</p>
            </div>

            <button class="slider__btn" type="button">Buy Product</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
