<section class="products section">
  <div class="container">
    <h2 class="products__subtitle subtitle">
      New Our
      <span class="subtitle__active">Products</span>
    </h2>

    <p class="products__description description">
      Have time to buy the most harmonious drinks in the new Starbucks coffee and don't forget about
      the discount! Starbucks coffee and don't forget about the discount!
    </p>

    <div class="slider swiper mySwiper">
      <ul class="slider__list swiper-wrapper">
        <li class="slider__item swiper-slide">
          <div class="slider__wrapper">
            <img
              class="slider__img"
              width="119"
              height="160"
              src="./images/products/products-1.png"
              alt=""
            />
          </div>

          <div class="slider__thumb">
            <p class="slider__name">Fast</p>
            <p class="slider__description">Our cafe will serve you quickly</p>

            <div class="slider__value">
              <p class="slider__price">7,45$</p>
              <p class="slider__size">330 ml</p>
            </div>

            <button class="btn btn--active slider__btn" type="button">Buy Product</button>
          </div>
        </li>

        <li class="slider__item swiper-slide">
          <div class="slider__wrapper">
            <img
              class="slider__img"
              width="119"
              height="160"
              src="./images/products/products-1.png"
              alt=""
            />
          </div>

          <div class="slider__thumb">
            <p class="slider__name">Fast</p>
            <p class="slider__description">Our cafe will serve you quickly</p>

            <div class="slider__value">
              <p class="slider__price">7,45$</p>
              <p class="slider__size">330 ml</p>
            </div>

            <button class="btn btn--active slider__btn" type="button">Buy Product</button>
          </div>
        </li>

        <li class="slider__item swiper-slide">
          <div class="slider__wrapper">
            <img
              class="slider__img"
              width="119"
              height="160"
              src="./images/products/products-1.png"
              alt=""
            />
          </div>

          <div class="slider__thumb">
            <p class="slider__name">Cappuccino</p>
            <p class="slider__description">Our cafe will serve you quickly</p>

            <div class="slider__value">
              <p class="slider__price">7,45$</p>
              <p class="slider__size">330 ml</p>
            </div>

            <button class="btn btn--active slider__btn" type="button">Buy Product</button>
          </div>
        </li>

        <li class="slider__item swiper-slide">
          <div class="slider__wrapper">
            <img
              class="slider__img"
              width="119"
              height="160"
              src="./images/products/products-1.png"
              alt=""
            />
          </div>

          <div class="slider__thumb">
            <p class="slider__name">Cappuccino</p>
            <p class="slider__description">Our cafe will serve you quickly</p>

            <div class="slider__value">
              <p class="slider__price">7,45$</p>
              <p class="slider__size">330 ml</p>
            </div>

            <button class="btn btn--active slider__btn" type="button">Buy Product</button>
          </div>
        </li>

        <li class="slider__item swiper-slide">
          <div class="slider__wrapper">
            <img
              class="slider__img"
              width="119"
              height="160"
              src="./images/products/products-1.png"
              alt=""
            />
          </div>

          <div class="slider__thumb">
            <p class="slider__name">Cappuccino</p>
            <p class="slider__description">Our cafe will serve you quickly</p>

            <div class="slider__value">
              <p class="slider__price">7,45$</p>
              <p class="slider__size">330 ml</p>
            </div>

            <button class="btn btn--active slider__btn" type="button">Buy Product</button>
          </div>
        </li>
      </ul>

      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
</section>
