.header {
  padding: 36px 0;

  @include bpoint(desktop) {
    margin-bottom: 80px;
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include bpoint(desktop) {
    justify-content: flex-start;
    gap: 94px;
  }
}

.menu.is-open + .nav {
  transform: translateX(0);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100vw;
  height: 100vh;

  transform: translateX(-100%);

  transition: transform 300ms ease-in-out;

  @include bpoint(desktop) {
    transform: translateX(0);

    position: static;
    width: auto;
    height: auto;
  }
}

.nav__list {
  @extend %list;
  padding: 70px 30px;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 36px;

  width: 100%;
  height: 100%;

  background-color: getColor(bg);

  @include bpoint(desktop) {
    padding: 0;

    flex-direction: row;
  }
}

.nav__item {
  font-size: 26px;
  line-height: 23px;
  color: getColor(primary);

  &--active {
    font-weight: 600;
    color: getColor(accent);

    background: getColor(gr-accent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}

.nav__link {
  @extend %link;

  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__icon {
  margin-right: 10px;

  width: 30px;
  height: 30px;

  fill: currentColor;
}
