.label {
  position: absolute;
  top: 0;
  right: 0;

  filter: drop-shadow(getShadow(label));

  animation: heartbeat 2.5s ease-in-out infinite both;

  & img {
    width: 100%;
    height: 100%;
  }

  @include bpoint(desktop) {
    width: 183px;
    height: 183px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%) rotate(77.65deg);

    font-weight: 300;
    font-size: 55px;
    line-height: 146.47%;
    letter-spacing: -0.03em;

    color: getColor(active-white);

    @include bpoint(desktop) {
      font-weight: 500;
    }
  }
}

@-webkit-keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
