.logo {
  font-weight: 800;
  font-size: 22px;
  letter-spacing: -0.03em;

  background: getColor(gr-accent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  &:hover {
    animation: gradient 2.5s ease-in-out infinite both;
  }
}
